<nz-layout>
  <nz-content>
    <div class="inner-content">
      <div nz-row>
        <div nz-col nzSpan="14" nzOffSet="5">
          <h1>Codebrains Todos</h1>
          <app-todo-form [refresh]="this.loadAll"></app-todo-form>
          <nz-list nzItemLayout="horizontal">
            <nz-list-item *ngFor="let todo of todos$ | async">
              <ng-container>

                <nz-list-item-meta [nzTitle]="todo.title"
                                   [nzDescription]="todo.description">

                </nz-list-item-meta>

                <ul nz-list-item-actions>

                  <nz-list-item-action>
                    <nz-switch [(ngModel)]="todo.completed" (ngModelChange)="changeStatus(todo)" nz-tooltip nzTooltipTitle="Change Todo Status">

                    </nz-switch>
                  </nz-list-item-action>

                  <nz-list-item-action>
                    <button nz-button nzType="primary" nzDanger nz-popconfirm nzPopconfirmTitle="Are you sure you want to delete" nzPopconfirmPlacement="top" (nzOnConfirm)='deleteTodo(todo)' (nzOnCancel)="cancel()">Delete</button>
                  </nz-list-item-action>
                </ul>
              </ng-container>
            </nz-list-item>
          </nz-list>
        </div>
      </div>
    </div>
  </nz-content>
</nz-layout>
